In [55]:
import pandas as pd
# from sunpy.coordinates.transformations import hgs_to_hcc
# from sunpy.coordinates import frames
import sunpy.coordinates
from astropy.coordinates import SkyCoord
from math import isnan, ceil, floor
import numpy as np
import astropy.units as u
import matplotlib.pylab as plt

In [13]:
data = pd.read_csv("modified_data.csv")
data.dropna(axis = 0, subset = ["hc_x", "hc_y", "hc_z"], inplace = True)
data.tail()
# data.iloc[9999]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,HARPNUM,T_REC,NOAA_AR,LAT_FWT,...,any_flare_in_12h,X_flare_in_24h,M_flare_in_24h,any_flare_in_24h,X_flare_in_48h,M_flare_in_48h,any_flare_in_48h,hc_x,hc_y,hc_z
297580,297580,297580,297580,297580,297580,297580,7262,2018-06-05 17:00:00,12712,15.035259,...,0,0,0,0,0,0,0,669927.326144,180532.481056,48340.242378
297581,297581,297581,297581,297581,297581,297581,7262,2018-06-05 18:00:00,12712,14.840383,...,0,0,0,0,0,0,0,670470.690960,178244.587569,49287.905514
297582,297582,297582,297582,297582,297582,297582,7262,2018-06-05 19:00:00,12712,14.665590,...,0,0,0,0,0,0,0,671119.078796,176185.408740,47846.231697
297583,297583,297583,297583,297583,297583,297583,7262,2018-06-05 20:00:00,12712,14.421501,...,0,0,0,0,0,0,0,671994.865166,173309.547973,46022.601362
297584,297584,297584,297584,297584,297584,297584,7262,2018-06-05 21:00:00,12712,14.257753,...,0,0,0,0,0,0,0,672718.755549,171373.180780,42568.614097

In [28]:
print("HC X: {}-{}".format(data.loc[:,"hc_x"].max(), data.loc[:,"hc_x"].min()))
print("HC Y: {}-{}".format(data.loc[:,"hc_y"].max(), data.loc[:,"hc_y"].min()))

x_max = int(ceil(data.loc[:,"hc_x"].max()))
x_min = int(ceil(data.loc[:,"hc_x"].min()))
y_max = int(ceil(data.loc[:,"hc_y"].max()))
y_min = int(ceil(data.loc[:,"hc_y"].min()))

HC X: 693755.2286566767--694199.9995112926
HC Y: 496332.19956688327--447951.87804304756

In [52]:
step = 100

# x_list = np.zeros(int(max(x_max, abs(x_min))/step) * 2 + 1)
# y_list = np.zeros(int(max(y_max, abs(y_min))/step) * 2 +1)

x_size = int(max(x_max, abs(x_min))/step) * 2 + 1
y_size = int(max(y_max, abs(y_min))/step) * 2 + 1

data_list = np.zeros((x_size, y_size))


for x_val, y_val in zip(data.loc[:10, "hc_x"], data.loc[:10, "hc_y"]):
    xind = int(floor(x_val/step) + x_size/2)
    yind = int(floor(y_val/step) + y_size/2)
    data_list[xind, yind] += 1

In [ ]:
plt.figure(figsize=[20,10])
plt.imshow(data_list, cmap='gray')