In [2]:
import pandas as pd
# from sunpy.coordinates.transformations import hgs_to_hcc
# from sunpy.coordinates import frames
import sunpy.coordinates
from astropy.coordinates import SkyCoord
from math import isnan
import astropy.units as u

In [3]:
data = pd.read_csv("modified_data.csv")
data.head()

/home/maxine/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unnamed: 0.1,HARPNUM,T_REC,NOAA_AR,LAT_FWT,LON_FWT,AREA_ACR,USFLUX,MEANGAM,...,X_flare_in_12h,M_flare_in_12h,any_flare_in_12h,X_flare_in_24h,M_flare_in_24h,any_flare_in_24h,X_flare_in_48h,M_flare_in_48h,any_flare_in_48h,hc_coord
0,0,0,14,2010-05-05 03:12:00,11070,NaN,NaN,0.00000,2.040540e+18,82.474,...,0,0,0,0,0,0,0,0,0,<SkyCoord (Heliocentric: obstime=2010-05-05 03...
1,1,1,14,2010-05-05 04:00:00,11070,20.684654,-1.045460,15.91787,3.406072e+20,56.375,...,0,0,0,0,0,0,0,0,0,<SkyCoord (Heliocentric: obstime=2010-05-05 04...
2,2,2,14,2010-05-05 05:00:00,11070,20.507109,-0.913314,25.38142,5.640165e+20,49.561,...,0,0,0,0,0,0,0,0,0,<SkyCoord (Heliocentric: obstime=2010-05-05 05...
3,3,3,14,2010-05-05 06:00:00,11070,20.496035,-0.419703,31.01844,6.893843e+20,46.385,...,0,0,0,0,0,0,0,0,0,<SkyCoord (Heliocentric: obstime=2010-05-05 06...
4,4,4,14,2010-05-05 07:00:00,11070,20.480949,0.125770,31.89329,6.563502e+20,44.189,...,0,0,0,0,0,0,0,0,0,<SkyCoord (Heliocentric: obstime=2010-05-05 07...

In [34]:
dlat = data.loc[1, "LAT_FWT"]
dlon = data.loc[1, "LON_FWT"]
print(dlon, dlat)

hgs = SkyCoord(dlon*u.deg, dlat*u.deg, obstime = data.loc[1,"T_REC"], frame = "heliographic_stonyhurst")
hc = hgs.transform_to("heliocentric")
print(hc)
hc.x.value

-1.04546 20.684654
<SkyCoord (Heliocentric: obstime=2010-05-05 04:00:00, observer=<HeliographicStonyhurst Coordinate (obstime=2010-05-05 04:00:00): (lon, lat, radius) in (deg, deg, AU)
    (0., -3.76360511, 1.00848817)>): (x, y, z) in km
    (-11872.01845772, 287843.71407744, 633037.46295764)>

-11872.018457719181