In [1]:
import pandas as pd
# from sunpy.coordinates.transformations import hgs_to_hcc
# from sunpy.coordinates import frames
import sunpy.coordinates
from astropy.coordinates import SkyCoord
from math import isnan, ceil, floor
import numpy as np
import astropy.units as u
import matplotlib.pylab as plt

In [20]:
data = pd.read_csv("distance_data.csv")
# print(data.drop(columns = [
#                           'Unnamed: 0'], inplace = True))
# data.dropna(axis = 0, subset = ["hc_x", "hc_y", "hc_z"], inplace = True)
# data.to_csv("distance_data.csv", index=False)
data.head()
# data.iloc[9999]

,Unnamed: 0,HARPNUM,T_REC,NOAA_AR,LAT_FWT,LON_FWT,AREA_ACR,USFLUX,MEANGAM,MEANGBT,...,M_flare_in_24h,any_flare_in_24h,X_flare_in_48h,M_flare_in_48h,any_flare_in_48h,hc_x,hc_y,hc_z,closest_dist,connected_components_mean_thresh
0,0,14,2010-05-05 03:12:00,11070,NaN,NaN,0.00000,2.040540e+18,82.474,38.177,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,1,14,2010-05-05 04:00:00,11070,20.684654,-1.045460,15.91787,3.406072e+20,56.375,119.260,...,0,0,0,0,0,-11872.018458,287843.714077,633037.462958,20.576242,NaN
2,2,14,2010-05-05 05:00:00,11070,20.507109,-0.913314,25.38142,5.640165e+20,49.561,135.720,...,0,0,0,0,0,-10383.617824,285833.795234,633973.658796,20.416992,1.0
3,3,14,2010-05-05 06:00:00,11070,20.496035,-0.419703,31.01844,6.893843e+20,46.385,156.766,...,0,0,0,0,0,-4772.177056,285667.229696,634115.792476,20.437609,1.0
4,4,14,2010-05-05 07:00:00,11070,20.480949,0.125770,31.89329,6.563502e+20,44.189,170.519,...,0,0,0,0,0,1430.203374,285452.974486,634228.611732,20.351355,1.0

In [28]:
print("HC X: {}-{}".format(data.loc[:,"hc_x"].max(), data.loc[:,"hc_x"].min()))
print("HC Y: {}-{}".format(data.loc[:,"hc_y"].max(), data.loc[:,"hc_y"].min()))

x_max = int(ceil(data.loc[:,"hc_x"].max()))
x_min = int(ceil(data.loc[:,"hc_x"].min()))
y_max = int(ceil(data.loc[:,"hc_y"].max()))
y_min = int(ceil(data.loc[:,"hc_y"].min()))

HC X: 693755.2286566767--694199.9995112926
HC Y: 496332.19956688327--447951.87804304756

In [52]:
step = 100

# x_list = np.zeros(int(max(x_max, abs(x_min))/step) * 2 + 1)
# y_list = np.zeros(int(max(y_max, abs(y_min))/step) * 2 +1)

x_size = int(max(x_max, abs(x_min))/step) * 2 + 1
y_size = int(max(y_max, abs(y_min))/step) * 2 + 1

data_list = np.zeros((x_size, y_size))

for x_val, y_val in zip(data.loc[:10, "hc_x"], data.loc[:10, "hc_y"]):
    xind = int(floor(x_val/step) + x_size/2)
    yind = int(floor(y_val/step) + y_size/2)
    data_list[xind, yind] += 1

ADVISOR TALK
Networks-style correlation analysis
Google spacial statistics - relationships of spacial relations
Bachelors thesis can be partial progress in a few different things
Good to be working on novel work
Ask Varad about astropy 
Schedule presentation****
Final Report D: 
Written - complete chunk of thesis, don't need to get all in one place
Presentation - brainstorming, fun, lighter weight 
*** Decide in next week - will you have a chunk of stuff done or still be working? BY MONDAY 
Think about doing both or neither - don't ditch work just to persue more interesting stuff 
She thinks google is evil lmaoooo
Good for grad school
See if their are actual papers using location***
People get mad when ML models work using data they don't think is important

In [ ]:
plt.figure(figsize=[20,10])
plt.imshow(data_list, cmap='gray')