In [1]:
import pandas as pd

In [20]:
data = pd.read_csv('finished_distance_data.csv')
print(data.shape)
data.head()

(227200, 44)

,Unnamed: 0,HARPNUM,T_REC,NOAA_AR,LAT_FWT,LON_FWT,AREA_ACR,USFLUX,MEANGAM,MEANGBT,...,M_flare_in_48h,any_flare_in_48h,hc_x,hc_y,hc_z,closest_dist,connected_components_mean_thresh,total_nodes,mean_distance,flare_in_component
0,0,14,2010-05-05 03:12:00,11070,NaN,NaN,0.00000,2.040540e+18,82.474,38.177,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,14,2010-05-05 04:00:00,11070,20.684654,-1.045460,15.91787,3.406072e+20,56.375,119.260,...,0,0,-11872.018458,287843.714077,633037.462958,20.576242,1.0,8.0,62.496910,True
2,2,14,2010-05-05 05:00:00,11070,20.507109,-0.913314,25.38142,5.640165e+20,49.561,135.720,...,0,0,-10383.617824,285833.795234,633973.658796,20.416992,1.0,8.0,62.534442,True
3,3,14,2010-05-05 06:00:00,11070,20.496035,-0.419703,31.01844,6.893843e+20,46.385,156.766,...,0,0,-4772.177056,285667.229696,634115.792476,20.437609,1.0,6.0,65.233606,True
4,4,14,2010-05-05 07:00:00,11070,20.480949,0.125770,31.89329,6.563502e+20,44.189,170.519,...,0,0,1430.203374,285452.974486,634228.611732,20.351355,1.0,6.0,65.239769,True

In [21]:
remove_nan= data.dropna(subset=["total_nodes"])
remove_nan.shape

(222318, 44)

In [11]:
remove_nan.head()

,Unnamed: 0,HARPNUM,T_REC,NOAA_AR,LAT_FWT,LON_FWT,AREA_ACR,USFLUX,MEANGAM,MEANGBT,...,any_flare_in_48h,hc_x,hc_y,hc_z,closest_dist,connected_components_mean_thresh,total_nodes,mean_distance,flare_in_component,mean_location_variance
1,1,14,2010-05-05 04:00:00,11070,20.684654,-1.045460,15.917870,3.406072e+20,56.375,119.260,...,0,-11872.018458,287843.714077,633037.462958,20.576242,NaN,NaN,NaN,NaN,1.764544e+09
2,2,14,2010-05-05 05:00:00,11070,20.507109,-0.913314,25.381420,5.640165e+20,49.561,135.720,...,0,-10383.617824,285833.795234,633973.658796,20.416992,1.0,NaN,NaN,NaN,1.764544e+09
3,3,14,2010-05-05 06:00:00,11070,20.496035,-0.419703,31.018440,6.893843e+20,46.385,156.766,...,0,-4772.177056,285667.229696,634115.792476,20.437609,1.0,NaN,NaN,NaN,1.764544e+09
4,4,14,2010-05-05 07:00:00,11070,20.480949,0.125770,31.893290,6.563502e+20,44.189,170.519,...,0,1430.203374,285452.974486,634228.611732,20.351355,1.0,NaN,NaN,NaN,1.764544e+09
5,5,14,2010-05-05 08:00:00,11070,20.455782,0.687647,30.905041,6.610462e+20,43.746,174.138,...,0,7820.732220,285123.049009,634330.403761,20.405402,1.0,NaN,NaN,NaN,1.764544e+09

In [10]:
for harpnum in remove_nan.loc[:,"HARPNUM"]:
    avg_x = remove_nan.loc[remove_nan["HARPNUM"]==harpnum, "hc_x"].var()
    avg_y = remove_nan.loc[remove_nan["HARPNUM"]==harpnum, "hc_y"].var()
    avg_z = remove_nan.loc[remove_nan["HARPNUM"]==harpnum, "hc_z"].var()
    remove_nan.loc[remove_nan["HARPNUM"]==harpnum, "mean_location_variance"] = (avg_x+avg_y+avg_z)/3.

KeyboardInterrupt:

In [15]:
test = remove_nan.dropna(subset=["mean_location_variance"])
test.head()
test.loc[:, "mean_location_variance"].mean()

61261357422.5746

In [16]:
mean_count = 0
mean_val = 0
for harpnum in remove_nan.loc[:, "HARPNUM"]:
    mean_count += 1
    mean_val += remove_nan.loc[remove_nan["HARPNUM"]==harpnum].shape[0]
    
print(mean_val/mean_count)

263.200856119662